@mixin text($color: #fff) {
    font-weight: 600;
    font-size: 15px;
    line-height: 187%;
    color: $color;
  
    @media (min-width: 1440px) {
      font-weight: 700;
      font-size: 48px;
      line-height: 100%;
      text-align: center;
    }

  }
  