.box {
    padding-top: 140px;
    padding-bottom: 164px;
    background-repeat: no-repeat;
    background-image: url(../img/box_icon.svg);
    background-position: top left;
}
.box_title {
    @include text(#fff);
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
    margin-top: 100px;
}
.box_sp {
    color: aqua;
}
.box_text {
    font-weight: 600;
    font-size: 15px;
    line-height: 167%;
    text-align: center;
    color: #fff;
}
.box_block_title{
    font-weight: 700;
font-size: 18px;
line-height: 156%;
text-align: center;
color: #79c8c7;
padding: 10px;
}
.box_block_text{
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 138%;
    text-align: center;
    color: #fff;
    padding: 10px;
}
.box_connect1{
    text-align: center;
}
.box_connect{
    display: flex;
    gap: 60px;
    margin: 60px;
}

